.Audio img {
  border-radius: 50%;

  width: 50px;
  cursor: pointer;
  border: 1px solid #003333;
  padding: 10px 10px;
  background-color: white;

  width: 50px;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 0px;
  transition: all 0.1s ease-out;
}
.Audio img:hover {
  background-color: rgb(211, 212, 194, 0.2);
}

.Audio {
  display: inline;
}
